body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Outfit);
  line-height: 1.4rem;
  background-color: var(--Very-dark-blue-main);
}

:root {
  /*Font-family*/
  --Outfit: Outfit;

  /*primary*/
 --soft-blue: hsl(215, 51%, 70%);
 --Cyan: hsl(178, 100%, 50%);

 /*neutral*/

--Very-dark-blue-main: hsl(217, 54%, 11%);
--Very-dark-blue-card:  hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);

}
p,h1,h2 {
  line-height: 1.4rem;
  font-family: var(--Outfit);
  margin:10px 0px;
  padding: 0px 10px 10px 15px ;
  letter-spacing: 0.5px;
}
p {

  color: var(--soft-blue);
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.015em;
  margin-bottom: 0rem;
  font-weight: 300;
}

h2 {
  color: var(--White);
  font-weight: 400;
  margin: 1.4rem 0 0.75rem;
  font-size: 1.4rem;
    
}
h2:hover, .avatar span:hover{
  color: var(--Cyan);
  cursor: pointer;
}


.container {
   
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-card {
  background-color: var(--Very-dark-blue-card);
  height: 63%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 340px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 50%);
  flex-direction: row;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.img-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.main-img {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 0 1.4rem;
}

.eth {
  background-image: url(../img/icon-ethereum.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 0.5rem 1.5rem;
}


.clock{
  background-image: url(../img/icon-clock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.eth-price {
   color: var(--Cyan);
   margin-left: 1.5rem;
}

.clock-left {
   color: var(--soft-blue);
   margin-right: 1.5rem;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  
  border: 0.1px  solid var(--Very-dark-blue-line);
  width: 85%;
  margin-bottom: 20px;
}


.avatar {
  display: flex;

  padding-top: 0rem;
  align-items: center
}

.avatar-icon {
  border-radius: 50%;
  width: 2rem;
  height: auto;
  margin-right: 0rem;
  border: 1px solid var(--White);

}


.avatar p {
  color: var(--soft-blue);
  
}

.avatar p > span {
  color: var(--White);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: var(--Cyan);
    border-radius: 10px;
}


.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.img-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.img-container:hover .overlay + .view {
  display: block;
}

.copyright{
 
  text-align: center;
  padding: 5px;
}
.copyright p{
   color: var(--White);
   font-size: 10px;
}

.copyright span {
  color: var(--Cyan);
}
.copyright span:hover{
  cursor: pointer;
}